[Unit]
Description=Gunicorn instance for Contractor Checker
After=network.target postgresql.service

[Service]
User=cubinez85
Group=www-data
WorkingDirectory=/home/cubinez85/contractor_checker/general
Environment="PATH=/home/cubinez85/contractor_checker/general/venv/bin"
EnvironmentFile=/home/cubinez85/contractor_checker/general/.env
ExecStart=/home/cubinez85/contractor_checker/general/venv/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:8083 \
          --access-logfile /home/cubinez85/contractor_checker/general/logs/access.log \
          --error-logfile /home/cubinez85/contractor_checker/general/logs/error.log \
          run:app

[Install]
WantedBy=multi-user.target
