# Flask
FLASK_APP=run.py
FLASK_ENV=production
SECRET_KEY=sbnu0_ON4i

# Database
DATABASE_URL=postgresql://contractor_user:yhAlKB-T88@localhost/contractor_db

# Email
MAIL_SERVER=95.174.94.246
MAIL_PORT=25
MAIL_USE_TLS=false
MAIL_USE_SSL=false
MAIL_DEFAULT_SENDER=cubinez85@cubinez.ru
MAIL_RECIPIENT=cubinez85@cubinez.ru

